{% extends "accounts/html/base.html" %}

{% block title %}
Change Password
{% endblock title %}

{% block body %}
<span>Change Password</span>
<form action="{% url 'accounts:change_password' username %}" method="post">
		{% csrf_token %}
			<label>Password</label> <br />
		{{form.new_password}} <br />
		<div>
				{% with password_errors=form.new_password.errors %}
				{% if password_errors %}
				{% for errors in password_errors %}
				<span>{{errors}}</span>
				{% endfor %}
				{% endif %}
				{% endwith %}
		</div>
		<label>Confirm Password</label> <br />
		{{form.confirm_password}} <br />
		<div>
				{% with confirm_password_errors=form.confirm_password.errors %}
				{% if confirm_password_errors %}
				{% for errors in confirm_password_errors %}
				<span>{{errors}}</span>
				{% endfor %}
				{% endif %}
				{% endwith %}
		</div>
		<input type="submit" value="Change Password" />
</form>
{% endblock body %}