{% extends "accounts/html/base.html" %}

{% block title %}
Login
{% endblock title %}

{% block body %}
<span>Login</span>
<form action="login" method="post">
		{% csrf_token %}
		<label>Username:</label> <br />
		{{form.username}} <br />
		<div>
				{% with user_name_errors=form.username.errors %}
				{% if user_name_errors %}
				{% for errors in user_name_errors %}
				<span>{{errors}}</span>
				{% endfor %}
				{% endif %}
				{% endwith %}
		</div>
		<label>Password</label> <br />
		{{form.password}} <br />
		<div>
				{% with password_errors=form.password.errors %}
				{% if password_errors %}
				{% for errors in password_errors %}
				<span>{{errors}}</span>
				{% endfor %}
				{% endif %}
				{% endwith %}
				<a href="{% url 'accounts:forgot_password' %}">Forgot password?</a>
				<a href="{% url 'accounts:find_my_account' %}">Find my account.</a>
		</div>
		<input type="submit" value="Login">
		<a href="{% url 'accounts:signup' %}">Create One</a>
</form>
{% endblock body %}
