{% extends 'accounts/html/base.html' %}
{% load updates %}

{% block title %}
Replies
{% endblock title %}
 
{% block body %}
<a href="{% resolve_url reply %}">Back</a> <br />
<span>Replies</span> <br />
{% for reply in replies %}
<a href="{% url 'notification:compose' reply.from_user.user_name %}">{{reply.from_user}}</a> <br />
{{reply.text}} <br />
{% if reply.replies.all %}
<a href="{% url 'updates:show_replies_of_a_reply' reply.id %}">
  {{reply.replies.all|length}}Reply(ies)
</a>
{% else %}
<a href="{% url 'updates:compose_replys_reply' reply.id %}">Reply</a> <br />
{% endif %}
{% empty %}
<a href="{% url 'updates:compose_replys_reply' reply|get_parent_reply %}">Be the first to reply.</a>
{% endfor %}
<a href="{% url 'updates:compose_replys_reply' reply.id %}">Click to reply.</a>
{% endblock body %}